h1{
    color:blue;
    box-shadow: 0px 0px 0px 10px red;
}
.desc{
    display:block;
    background-color:green;
    height:fit-content;
    width:fit-content;
}
.desc p{
    color:red;
}
.link{
    color:pink;
    text-decoration: none;
    transition-timing-function: ease-in;
}
.link:hover{
    color:brown;
}